body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;

}

header {
  text-align: center;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

.caption {
  font-size: 12px;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  margin: auto;
  width: 800px;
  text-align: center;
}

#details div {
  margin: auto;
  float: left;
  text-align: center;
}
